__pycache__/
*.py[cod]
*.class
.env
venv/
env/
.venv/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
*.log
*.sqlite3
.streamlit/
.ipynb_checkpoints/
*.pyc
docs/thesis.pdf

# Ignore Python cache files
__pycache__/
*.pyc
.DS_Store
